.LivrosDoadosSection {
  height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;

    h2 {
        font-size: 32px;
        margin-bottom: 5px;
    }
}

.containerCards {
  width: 95%;
  height: 60vh;
  display:flex;
  grid-template-columns: repeat;
  gap: 20px;
  justify-items: center;
  align-items: center; 
  
  section {
     border: solid 3px #005695;
     border-radius: 20px;
     width: 70%;
     height: 70%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     transition: 0.3s ease, box-shadow 0.3s ease;

     img {
      width: 15vh;
    }
     &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 15px rgba(10, 34, 114, 0.897);  
      border: none;
     }
 
     div {
         text-align: center;
     }
  }
 }

 @media (max-width: 768px){

  .LivrosDoadosSection {
    height: 130vh;
    h2 {
      font-size: 23px;
      margin: none;
  }
  }

  .containerCards {
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    
    section{
    width: 70%;

    img {
      width: 10vh;
    }
    }
  }
 }